#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("theme.ron"),
    cache_dir: None,
    on_song_change: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    scroll_amount: 1,
    enable_config_hot_reload: true,
    enable_lyrics_hot_reload: false,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    auto_open_downloads: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    // Бинды продублированы кириллицей (ЙЦУКЕН), чтобы работали в обеих раскладках:
    // rmpc ловит символ, а не физическую клавишу. Близнецы проставляются скриптом
    // ~/Work/rmpc-ron-check/add-cyrillic-binds.py — после правки биндов прогони его
    // и проверь ./check. Спец-клавиши (<Esc>, <C-c>, <Up> …) от раскладки не зависят.
    keybinds: (
        global: {
            "q":          Quit,
            "й":          Quit,
            "?":          ShowHelp,
            ":":          CommandMode,
            "oI":         ShowCurrentSongInfo,
            "щШ":         ShowCurrentSongInfo,
            "oo":         ShowOutputs,
            "щщ":         ShowOutputs,
            "op":         ShowDecoders,
            "щз":         ShowDecoders,
            "od":         ShowDownloads,
            "щв":         ShowDownloads,
            "oP":         Partition(),
            "щЗ":         Partition(),
            "z":          ToggleRepeat,
            "я":          ToggleRepeat,
            "x":          ToggleRandom,
            "ч":          ToggleRandom,
            "c":          ToggleConsume,
            "с":          ToggleConsume,
            "v":          ToggleSingle,
            "м":          ToggleSingle,
            "p":          TogglePause,
            "з":          TogglePause,
            "s":          Stop,
            "ы":          Stop,
            ">":          NextTrack,
            "<":          PreviousTrack,
            "f":          SeekForward,
            "а":          SeekForward,
            "b":          SeekBack,
            "и":          SeekBack,
            ".":          VolumeUp,
            ",":          VolumeDown,
            "<Tab>":      NextTab,
            "gt":         NextTab,
            "пе":         NextTab,
            "<S-Tab>":    PreviousTab,
            "gT":         PreviousTab,
            "пЕ":         PreviousTab,
            "1":          SwitchToTab("Queue"),
            "2":          SwitchToTab("Directories"),
            "3":          SwitchToTab("Artists"),
            "4":          SwitchToTab("Album Artists"),
            "5":          SwitchToTab("Albums"),
            "6":          SwitchToTab("Playlists"),
            "7":          SwitchToTab("Search"),
            "<C-u>":      Update,
            "<C-U>":      Rescan,
            "R":          AddRandom,
            "К":          AddRandom,
        },
        navigation: {
            "<C-c>":      Close,
            "<Esc>":      Close,
            "<CR>":       Confirm,
            "k":          Up,
            "л":          Up,
            "<Up>":       Up,
            "j":          Down,
            "о":          Down,
            "<Down>":     Down,
            "h":          Left,
            "р":          Left,
            "<Left>":     Left,
            "l":          Right,
            "д":          Right,
            "<Right>":    Right,
            "<C-w>k":     PaneUp,
            "<C-w>л":     PaneUp,
            "<C-Up>":     PaneUp,
            "<C-w>j":     PaneDown,
            "<C-w>о":     PaneDown,
            "<C-Down>":   PaneDown,
            "<C-w>h":     PaneLeft,
            "<C-w>р":     PaneLeft,
            "<C-Left>":   PaneLeft,
            "<C-w>l":     PaneRight,
            "<C-w>д":     PaneRight,
            "<C-Right>":  PaneRight,
            "K":          MoveUp,
            "Л":          MoveUp,
            "J":          MoveDown,
            "О":          MoveDown,
            "<C-u>":      UpHalf,
            "<C-d>":      DownHalf,
            "<C-b>":      PageUp,
            "<PageUp>":   PageUp,
            "<C-f>":      PageDown,
            "<PageDown>": PageDown,
            "gg":         Top,
            "пп":         Top,
            "G":          Bottom,
            "П":          Bottom,
            "<Space>":    Select,
            "<C-Space>":  InvertSelection,
            "/":          EnterSearch,
            "n":          NextResult,
            "т":          NextResult,
            "N":          PreviousResult,
            "Т":          PreviousResult,
            "a":          Add,
            "ф":          Add,
            "A":          AddAll,
            "Ф":          AddAll,
            "D":          Delete,
            "В":          Delete,
            "<C-r>":      Rename,
            "i":          FocusInput,
            "ш":          FocusInput,
            "oi":         ShowInfo,
            "щш":         ShowInfo,
            "<C-z>":      ContextMenu(),
            "<C-s>s":     Save(kind: Modal(all: false, duplicates_strategy: Ask)),
            "<C-s>ы":     Save(kind: Modal(all: false, duplicates_strategy: Ask)),
            "<C-s>a":     Save(kind: Modal(all: true, duplicates_strategy: Ask)),
            "<C-s>ф":     Save(kind: Modal(all: true, duplicates_strategy: Ask)),
            "r":          Rate(),
            "к":          Rate(),
        },
        queue: {
            "d":          Delete,
            "в":          Delete,
            "D":          DeleteAll,
            "В":          DeleteAll,
            "<CR>":       Play,
            "C":          JumpToCurrent,
            "С":          JumpToCurrent,
            "X":          Shuffle,
            "Ч":          Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
        album_date_tags: [Date],
    ),
    tabs: [
        (
            // Убрано: панель Lyrics, заголовок очереди (QueueHeader),
            // распорки Pane(Empty()) и все рамки. Слева обложка, справа очередь.
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "35%", borders: "NONE", pane: Pane(AlbumArt)),
                    (size: "65%", borders: "NONE", pane: Pane(Queue)),
                ],
            ),
        ),
        (name: "Directories", pane: Pane(Directories)),
        (name: "Artists", pane: Pane(Artists)),
        (name: "Album Artists", pane: Pane(AlbumArtists)),
        (name: "Albums", pane: Pane(Albums)),
        (name: "Playlists", pane: Pane(Playlists)),
        (name: "Search", pane: Pane(Search)),
    ],
)
