@import "./Colors/tokyonight.css";

* { 
  border: none;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 12.5pt;
  min-height: 0;
  transition: none;
}

window#waybar {
  background: @base;
  border-radius: 0;
  color: @text;
}

tooltip {
  border: 1px solid @surface1;
  background: @surface0;
}


/* Left Modules */

#workspaces {
  background: inherit;
  /*  border: 1px solid rgba(255, 255, 255, 0.0); */
  border-radius: 20pt;
  padding-right: 7pt;
  padding-left: 2pt;
}

#workspaces button {
  color: @text;
  margin-left: -2pt;
  margin-right: -2pt;
  /* min-width: 0px; */
}

#workspaces button.empty {
  color: @overlay2;
  /* min-width: 0px; */
}

#workspaces button.active {
  color: @blue;
  border-radius: 0;
  margin-top: 3pt;
  border-bottom: 2pt solid @blue
}


#custom-player {
  background: inherit;
  /* border-radius: 20pt; */
  color: @blue;
  /* border-bottom: 2pt solid @blue; */
  padding-left: 10pt;
  padding-right: 10pt;
  margin-left: 7pt;
}

#custom-prev, #custom-next {
  background: inherit;
  color: @sky;
  /* border-bottom: 2pt solid @sky; */
  padding-right: 10pt;
  padding-left: 10pt;
}

#custom-prev {
  border-right: none;
  margin-left: 5pt;
  margin-right: -5pt;
  /* border-radius: 20pt 0pt 0pt 20pt; */
}

#custom-next{
  border-left: none;
  /* border-radius: 0pt 20pt 20pt 0pt; */
}


/* Center Modules */

#cpu {
  background: inherit;
  /* border: 1px solid rgba(255, 255, 255, 0.0); */
  border-bottom: 2pt solid @red;
  border-right: none;
  /* border-radius: 20pt 0pt 0pt 20pt; */
  padding-right: 5pt;
  padding-left: 7pt;
  color: @red;
}

#clock {
  /* border: 1px solid rgba(255, 255, 255, 0.0); */
  border-bottom: 2pt solid @sapphire;
  border-right: none;
  border-left: none;
  background: inherit;
  padding-right: 5pt;
  padding-left: 5pt;
  color: @sapphire;
}

#memory {
  /* border: 1px solid rgba(255, 255, 255, 0.0); */
  border-right: none;
  border-left: none;
  /* border-radius: 0pt 20pt 20pt 0pt; */
  border-bottom: 2pt solid @green;
  background: inherit;
  padding-left: 5pt;
  padding-right: 7pt;
  color: @green;
}

/* Right Modules */

#custom-weather {
  /* border: 0px solid rgba(255, 255, 255, 0.0); */
  border-right: none;
  border-bottom: 2pt solid @mauve;
  /* border-radius: 20pt 0pt 0pt 20pt; */
  background: inherit;
  color: @mauve;
  padding-right: 5pt;
  margin-top: 3pt;
}

#network {
  padding-left: 8pt;
  background: inherit;
  border-bottom: 2pt solid @blue;
  color: @blue;
}

#backlight {
  background: inherit;
  border-bottom: 2pt solid @yellow;
  color: @yellow;
}

#pulseaudio {
  border-bottom: 2pt solid @maroon;
  background: inherit;
  color: @maroon;
}

#battery {
  border-bottom: 2pt solid @sky;
  background: inherit;
  color: @sky;
}

#language {
  background: inherit;
  border-bottom: 2pt solid @green;
  color: @green;
}

#network, #backlight, #pulseaudio, #battery, #language, #tray, #custom-player, #workspaces {
  /* border: 1px solid rgba(255, 255, 255, 0.0); */
  border-right: none;
  border-left: none;
  padding-left: 5pt;
  padding-right: 5pt;
}

#tray {
  background: inherit;
  margin-right: 10pt;
  margin-top: 2pt;
}

#custom-powermenu {
  /* border: 1px solid rgba(255, 255, 255, 0.0); */
  border-left: none;
  /* border-radius: 0pt 20pt 20pt 0pt; */
  border-bottom: 2pt solid @red;
  background: inherit;
  padding-left: 7pt;
  padding-right: 10pt;
  color: @red;
}



#custom-music {
  font-weight: bold;
  margin-left: 10pt;
  border-radius: 20pt;
  color: @teal;
  transition: all 0.3s ease;
}

#custom-music.Playing {
  background: rgb(137, 180, 250);
  background: radial-gradient(circle, @sky, @sapphire, @blue, @sky);
  background-size: 400% 400%;
  color: #ffffff;
  border-radius: 20pt;
  padding-left: 10pt;
  padding-right: 10pt;
  text-shadow: 0pt 0pt 5pt rgba(0, 0, 0, 0.377);
}

/*
#custom-music.Stopped {
background: rgb(137, 180, 250);
background: radial-gradient(circle, @subtext1, @overlay0, @overlay2, @overlay1);
background-size: 400% 400%;
color: @surface0;
border-radius: 20pt;
padding-left: 10pt;
padding-right: 10pt;
text-shadow: 0pt 0pt 5pt rgba(0, 0, 0, 0.377);
} */

#custom-music.Stopped {
  background: transparent;
  color: @subtext0;
}

#custom-music.Paused {
  background: #161925;
}
